sourceType: webcam

sources:
  - name: cam1
    source: rtsp://host/stream0
    skip: 1
  - name: cam2
    source: rtsp://host/stream0
    skip: 1

detector:
  weights: yolov7.pt
  device: [ 'cuda:0', 'cuda:1' ] 
  imgsz: 512 
  half: True
  batch_size: 64
  trace: True
  conf_thres: 0.6 
  iou_thres: 0.45
  classes: [ 0 ]
  agnostic_nms: True
  detect_queue_size: 9
  num_detect: 1
  names: classes.txt

tracker:
  track_thresh: 0.5
  track_buffer: 30
  match_thresh: 0.8

reid:
  model_type: small 
  img_size: [ 384, 128 ]
  semantic_weight: 0.2
  device: cuda:3
  param: swin_small_market.pth
  pixel_mean: [ 0.5, 0.5, 0.5 ]
  pixel_std: [ 0.5, 0.5, 0.5 ]

MultiSourceTracker:
  max_target_lost: 300
  min_match_lost: 30
  match_thres: 0.08
  save_target: True
  save_pred: True
  save_video: True
  plot_result: True
  plot_line_thickness: 3
  max_frame: -1
  save_root_path: run
  areas: [ [ 'cam1', 'cam2' ] ]
